apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: keda-trigger-auth-gcp
spec:
  podIdentity:
    provider: gcp

apiVersion: v1
kind: ServiceAccount
metadata:
  name: training-job-ksa
  annotations:
    iam.gke.io/gcp-service-account: training-job-sa@devops-mlops-483223.iam.gserviceaccount.com

apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: pubsub-training-job-scaler
spec:
  jobTargetRef:
    template:
      spec:
        serviceAccountName: training-job-ksa
        containers:
        - name: training-job-container
          image: DOCKER_REPO_URL/training:latest
          env:
          - name: PUBSUB_MESSAGE
            value: "{{.Data}}"
          - name: MLFLOW_TRACKING_URI
            value: "http://mlflow.placeholder.svc.cluster.local:5000"
        restartPolicy: Never
  pollingInterval: 30
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  triggers:
  - type: gcp-pubsub
    metadata:
      subscriptionName: "training-triggers-sub"
    authenticationRef:
      name: keda-trigger-auth-gcp

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - backend.yaml
  - frontend.yaml
  - mlflow.yaml
  - training.yaml
  - keda.yaml